doctype
html
	head
		title #{title}
		meta(charset="utf-8")
		link(rel="stylesheet",href="lib/bootstrap/dist/css/bootstrap.css")
		script(src="/lib/jquery/dist/jquery.js")
		script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
	body
		block content